<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>家計簿</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script></head>
<body>

	 <!--ここからヘッダー-->
    <header class="d-flex justify-content-center py-3 text-bg-secondary">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link text-white">ホーム</a></li>
            <li class="nav-item"><a href="/analyse" class="nav-link text-white">分析</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">概要</a></li>
        </ul>
    </header>
    <!--ここまでヘッダー-->
    
    <div class = "container">   
    	<h3 class="mt-5" th:text = "${title}"></h3>
    	<p th:if="${complete}" th:text="${complate}"></p>
    	
    	<!-- Form -->
    	<div class="mt-5">
		<form class="row gy-2 gx-3 align-items-center" 
    		th:method = "post"
    		th:action = "@{/insert}"
    		th:object = "${kakeiboForm}">
    	
		    	<div class="col-auto">
		            <input type="date" class="form-control" th:field="*{date}" max="9999-12-31" required>
		        </div>
    	
                <div class="col-auto">
                    <input type="text" class="form-control" placeholder="用途" th:field="*{place}" required>
                </div>

                <div class="col-auto">
                    <select class="form-select" th:field="*{category}">
                        <option value="食費" th:selected="${category == 食費}">食費</option>
                        <option value="日用品" th:selected="${category == 日用品}">日用品</option>
                        <option value="交通費" th:selected="${category == 交通費}">交通費</option>
                        <option value="住居" th:selected="${category == 住居}">住居</option>
                        <option value="水道光熱費" th:selected="${category == 水道光熱費}">水道光熱費</option>                        
                        <option value="その他支出" th:selected="${category == その他支出}">その他支出</option>                        
                        <option value="収入" th:selected="${category == 収入}">収入</option>
                    </select>
                </div>
                
                <div class="col-auto">
                    <select class="form-select" th:field="*{person}">
                        <option value="翔太郎" th:selected="${person == 翔太郎}">翔太郎</option>
                        <option value="更" th:selected="${person == 更}">更</option>
                        <option value="test" th:selected="${person == test}">test</option>

                    </select>
                </div>
                
                <div class="col-auto">
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="金額" th:field="*{price}">
                    </div>
                </div>
                
                <div class="col-auto">
                    <button type="submit" class="form-control btn btn-primary">登録</button>
                </div>
                
				<!-- バリデーションエラー表示 -->                
	            <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></div>
	            <div th:if="${#fields.hasErrors('place')}" th:errors="*{place}" class="text-danger"></div>
	            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></div>    
            </form>                


			<!-- 入力が完了・削除が完了した時のメッセージ -->
	        <div th:if="${delcomplete}" class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
				[[ ${delcomplete} ]]
 				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
			</div>                
			
	        <div th:if="${complete}" class="alert alert-success mt-2  alert-dismissible fade show" role="alert">
				[[ ${complete} ]]
 				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
			</div>

			<!-- 当月のデータが一件もない場合に表示 -->
			<div class="alert alert-warning mt-2" role="alert" th:if="${#lists.isEmpty(list)}">
				[[${year}]]年[[${month}]]月のデータはまだ登録されていません。
			</div>
			

			
    	</div>
    	
    	<!--　一覧表示 -->
		<div class="mt-5">
			<!-- 当月のデータがある場合に場合に表示 -->
    		<table class="table table-striped" th:unless="${#lists.isEmpty(list)}">
				<thead>
		            <tr>
		            <th>年月日</th>
		            <th>用途</th>
		            <th>項目</th>
		            <th>誰</th>
		            <th>金額</th>
		            <th>編集</th>
		            <th>削除</th>

		            </tr>
	            </thead>
			<tbody class="table-group-divider">
			  		<tr th:each="obj : ${list}">
						<td class="align-middle" th:text="${obj.date}"></td>
						<td class="align-middle" th:text="${obj.place}"></td>
						<td class="align-middle" th:text="${obj.category}"></td>
						<td class="align-middle" th:text="${obj.person}"></td>
						<td class="align-middle" th:text="${obj.price}+'円'"></td>

						<!-- 編集ボタン -->
						<td class="align-middle">
							<a class="btn btn-sm btn-secondary" th:href="@{/{id}(id=${obj.id})}">編集</a>
						</td>

						<!-- 削除ボタン -->
						<td class="align-middle">
							<form method = "POST" th:action="@{/delete}">
								<input type="hidden" name = "id" th:value="${obj.id}">
								<input type="submit" class="btn btn-danger btn-sm" value="削除" 
								onclick="return confirm('削除しますか？');">
							</form>
						</td>
                    </tr>
			</table>
			
			<!-- 当月のデータがある場合に場合に表示 -->
			
			<div class="mt-2 row d-flex justify-content-center">
				<!-- 合計金額を表示 -->
				<h4 th:unless="${#lists.isEmpty(list)}" class="col-auto">
					[[${year}]]年[[${month}]]月の合計金額：[[${targetDateTotalPrice}]]円
				</h4>

				<!-- それぞれの人の合計金額を表示 -->
				<div th:unless="${#lists.isEmpty(list)}" th:each="element : ${personTotalMap}" class="col-auto">
					<h4>[[ ${element.key} ]]の合計金額：[[ ${element.value} ]]円</h4>
				</div>
				
				<!-- 折半の場合，誰が誰にいくら払う必要があるかを表示 -->
				
			</div>
			
			<div class="mt-2 d-flex justify-content-center">
				<form th:action="@{/}" method="get" class="row">
					<input class="col-auto border rounded" type="number" id="year" name="year" th:value="${year}" min="0" max="9999">
					<label class="form-label  col-auto" for="year">年</label>
					
					<input class="col-auto border rounded" type="number" id="month" name="month" th:value="${month}" min="1" max="12">
					<label class="form-label col-auto" for="month">月</label>
			
					<button class=" btn btn-primary col-auto" type="submit">表示</button>
				</form>
			</div>
			
	</div>
</body>
</html>