<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>ログイン</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script type="text/javascript" src="js/site.js"></script>
    </head>
    <body>
        <div class="content">
            <h1>ログイン</h1>
            <p>ログインするには、ユーザ名とパスワードを入力してください。</p>
            <form method="post" th:action="@{/sign_in}">
                <div class="control">
                    <label for="mymail">ユーザ名</label>
                    <input type="text" name="userName" th:value="*{userName}" required="required">
                </div>

                <div class="control">
                    <label for="passcode">パスワード</label>
                    <input type="password" name="password" th:value="*{password}" required="required">
                </div>

                <div>
                    <button class="button_login" type="submit">ログインする</button>
                </div>
            </form>
        </div>
    </body>
</html>

